src/client/js/*
node_modules/*
src/client/ts/main.js
wwwroot/*
./vscode

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Users/alexsofin/Git/WebTanks/src/server/wwwroot/*
/dist/*
src/server/obj/EchoApp.csproj.nuget.cache
src/server/obj/EchoApp.csproj.nuget.g.props
src/server/obj/project.assets.json
src/server/obj/Debug/netcoreapp2.2/EchoApp.csproj.CoreCompileInputs.cache
src/server/obj/Debug/netcoreapp2.2/project.razor.json
src/server/obj/Debug/netcoreapp2.2/EchoApp.csproj.CoreCompileInputs.cache
src/server/obj/Debug/netcoreapp2.2/project.razor.json
